fastapi==0.110.1
uvicorn[standard]==0.25.0

motor==3.3.1
pymongo[srv]==4.5.0
dnspython==2.8.0

python-dotenv==1.1.1
email-validator==2.3.0
python-multipart==0.0.20

passlib[bcrypt]==1.7.4
python-jose==3.5.0

# Якщо є робота з CSV / Excel
pandas==2.3.3
numpy==2.3.3

# Для AWS S3 (якщо використовуєш, інакше можу прибрати)
boto3==1.40.41

# Dev утиліти (можеш прибрати якщо деплой продовий)
black==25.9.0
flake8==7.3.0
